@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: normal;
}
.navber {
  background-color: rgba(255, 255, 255, 0) !important;
  color: white !important;
  z-index: 100;
  position: sticky;
}
.bg-bg {
  background-color: rgba(255, 255, 255, 0) !important;

}
.nav-link {
color: white !important;
}
.navbar-light .navbar-brand {
  color: rgb(234 222 222 / 90%) !important;
}
.navber-brand {
  font-size: 1.9 !important;
  color: #fafafa;
}

.navber a {
  font-size: 1.4;
  text-transform: capitalize;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #fa260a;
}

.navber a:hover {
  color: #38da17db !important;
}

@media (max-width: 991px) {
  .navber-brand {
    font-size: 1.6rem !important;
  }
  
}


/*                            End navber section                               */

.header {
    position: relative;
    background-image: url(./image/freeimg_5545946042freejpg850.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(94 44 175 / 70%);
    color: #ffffff;
  }

  .headerCon {
    display: flex;
    align-items: center; 
  }

  .heanderImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header_text > h1,h2,h3 {
    font-family: 'Dancing Script', cursive !important;
  }
  .custom-shape-divider-bottom-1595523337 {
    position: absolute;
    bottom: 0;
      left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1595523337 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
  }
  
  .custom-shape-divider-bottom-1595523337 .shape-fill {
    fill: #ffffff;
  }
  
  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-bottom-1595523337 svg {
        width: calc(100% + 1.3px);
        height: 30px;
    }
  }


/*                            Section A                         */

.Section_A {
  position: relative;
  width: 100%;
  margin-top: 35px;
  text-align: center;
  padding: 50px;
}

.text-box_1 > h1 {
  font-family: inherit;
  color: inherit;
  font-size: 3em;

  overflow: hidden;
  text-align: center;
}

.text-box_1 >  h1:before,
.text-box_1 >  h1:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.text-box_1 >  h1:before {
  right: 0.5em;
  margin-left: -50%;
}

.text-box_1 > h1:after {
  left: 0.5em;
  margin-right: -50%;
}
.text-box_2 {
  margin-top: 35px;
}


/*                 Section_About                */

.Section_About {
  background-image: url(./image/freeimg_5545946042freejpg850.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(94 44 175 / 70%);
  color: #ffffff;

}

.About_text-box {
  position: relative;
  width: 100%;
  margin-top: 70px;
  text-align: center;
}

.About_text-box > h1 {
  font-family: 'Dancing Script', cursive !important;
  font-size: 3.em;
}

.About_text-box > p {
  font-family: 'Dancing Script', cursive !important;

}


.Section_AboutTeam {
  position: relative;
  width: 100%;
  margin-top: 35px;
  text-align: center;
}

.team-box-text > h1 {
  font-family: inherit;
  color: inherit;
  font-size: 3em;

  overflow: hidden;
  text-align: center;
}


.team-box-text >  h1:before,
.team-box-text >  h1:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.team-box-text >  h1:before {
  right: 0.5em;
  margin-left: -50%;
}

.team-box-text > h1:after {
  left: 0.5em;
  margin-right: -50%;
}
.team-box-text {
  margin-top: 35px;
}


.contect_box {
  position: relative;
  top: 90px;
}